<!DOCTYPE html>
<html>
  <head>
    <title>List of Notes</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <script src="/static/js/jquery.latest.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Notes</a>
            <ul class="nav">
              <li><a href="{{ url_for('list_notes') }}">List</a></li>
              <li><a href="{{ url_for('add_note') }}">Add note & Widget</a></li>
              <li><a href="{{ url_for('test_widget') }}">Test Widget</a></li>
              <li><a href="{{ url_for('request_to_app') }}">Requests</a></li>
              <li><a href="{{ url_for('ajax_form') }}">AJAX Form</a></li>
            </ul>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <div class="well">
          <h1>Add new note</h1>
          <form class="form-horizontal" action="" method="post" name="add_note" role="form" enctype="multipart/form-data">
                {{form.hidden_tag()}}
                <div class="control-group{% if form.new_note.errors %} error{% endif %}">
                  <label class="control-label" for="add_note">Enter your note:</label>
                    {{form.new_note(size=80, maxlength=255)}}
                    {% for error in form.errors.new_note %}
                          <span class="help-inline">[{{ error }}]</span><br>
                    {% endfor %}
                </div>
                <div class="control-group">
                  <label class="control-label" for="add_note">Image for note:</label>
                    {{ form.image(style="display:inline;") }}
                </div>
                <div class="control-group">
                  <div class="controls">
                    <input class="btn btn-primary" type="submit" value="Add note">
                  </div>
                </div>
              </form>
          </div>
  <div class="row">
    <div class="span12"><h4>Here comes a html-widget</h4></div>
    <div class="span6">
      <p>Link for widget is bellow:</p>
      <textarea style="width: 416px; height: 105px;" rows="5" cols="50" id="codebox">&lt;script src="{{ widget_link }}" type="text/javascript"&gt;&lt;/script&gt;</textarea>
    </div>
    <div class="span6">
      <p>Example of widget</p>
      <script type="text/javascript" src="widget"></script>
    </div>
  </div>
  </div>
  </div>
  </div>
</body>
</html>