<!DOCTYPE html>
<html>
  <head>
    <title>List of Notes</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <script src="/static/js/jquery.latest.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Notes</a>
            <ul class="nav">
              <li><a href="{{ url_for('list_notes') }}">List</a></li>
              <li><a href="{{ url_for('add_note') }}">Add note & Widget</a></li>
              <li><a href="{{ url_for('test_widget') }}">Test Widget</a></li>
              <li><a href="{{ url_for('request_to_app') }}">Requests</a></li>
              <li><a href="{{ url_for('ajax_form') }}">AJAX Form</a></li>
            </ul>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <div class="well">
            <h1>Add new note</h1>
              <form class="form-horizontal" action="" method="post" name="add_note">
                {{form.hidden_tag()}}
                <div class="control-group{% if form.new_note.errors %} error{% endif %}">
                  <label class="control-label" for="add_note">Enter your note:</label>
                    {{form.new_note(size=80, maxlength=255)}}
                    {% for error in form.errors.new_note %}
                          <span class="help-inline">[{{ error }}]</span><br>
                    {% endfor %}
                </div>
                <div class="control-group">
                  <div class="controls">
                    <input class="btn btn-primary" type="submit" value="Add note">
                  </div>
                </div>
              </form>
          </div>
          <h1>Here comes list of notes</h1>
          <div>
              {% if notes %}
                {% for note in notes %}
                  <p>{{loop.index}}. {{ note.notes }}
                  {% if note.image_path is not none %}
                    <img src="{{ url_for('static', filename='uploads/' + note.image_path) }}"/>
                  {% endif %}
                  </p>
                {% endfor %}
              {% else %}
                <p>No notes in database</p>
              {% endif %}
          </div>
        </div>
    </div>
    </div>
</html>